<template id="survivor-list">
	<div class="column is-one-quarter is-hidden-touch menu-panel">
		<aside class="menu">
			<ul class="menu-list">
				<li>
					<a class="button is-info" @click="requestUpdate" ref="updateButton">Force Refresh from Server</a>
				</li>
				<li>
					<router-link class="button is-success" :to="{name: 'survivor', params: {id: 'new' }}">Add New Survivor</router-link>
				</li>
				<li>
					<router-link class="button is-danger" :to="{name: 'survivor-default'}">Survivor Info</router-link>
				</li>
			</ul>
			<p class="menu-label">Survivors</p>
			<ul class="menu-list survivors">	
				<li v-for="survivor in survivors">
					<router-link :to="{ name: 'survivor', params: { id: survivor.id }}">
						<span class="chkbx circle" style="background:#ffc800;border:none;" v-if="survivor.xp.box16 == true"></span>
						<span class="chkbx circle" style="background:#0F0;border:none;" v-else-if="survivor.survival.died == '' || survivor.survival.died == null"></span>
						<span class="chkbx circle" style="background:#F00;border:none;" v-else></span>
						<span class="gender" v-if="survivor.gender === 'M'">&#9794;</span>
						<span class="gender" v-else>&#9792;</span>
						<span class="name">{{ survivor.name }}</span>
					</router-link>
				</li>
			</ul>
		</aside>
	</div>
</template>
<template id="survivor-info">
	<div class="column">
		<h2 class="title is-2">Survivor Counts</h2>
		<div class="columns">
			<div class="column is-half">
				<ul>
					<li>Total: {{ survivors.length }}</li>
					<li>Alive: {{ countAlive }}</li>
					<li>Male: {{ countMale }}</li>
					<li>Female: {{ countFemale }}</li>
				</ul>
			</div>
			<div class="column is-half">
				<div class="bar" style="width: 100%; height: 100%;">
					<div class="male" v-bind:style="{ width: percentMale + '%' }">&#9794;<br />{{ percentMale }}%</div>
					<div class="female" v-bind:style="{ width: percentFemale + '%' }"> &#9792;<br />{{ percentFemale }}%</div>
				</div>
			</div>
		</div>
	</div>
</template>